@charset "utf-8";

.main-bg{ height: 80vh;} /*배경이미지*/
footer {display: none;}
body {overflow-y: hidden;}
.slides li {position: relative;} /* 배경이미지와 텍스트의 부모요소*/

.main-bg-1{
    background: url('../imgs/main-bg-1.jpg') no-repeat center center;
    background-size: cover;
}

.main-bg-2{
    background: url('../imgs/main-bg-2.jpg') no-repeat center center;
    background-size: cover;
}

.main-bg-3{
    background: url('../imgs/main-bg-3.jpg') no-repeat center center;
    background-size: cover;
}

.main-bg-4{
    background: url('../imgs/main-bg-4.jpg') no-repeat center center;
    background-size: cover;
}


/* FHD 버전 */
@media screen and (min-width:1400px) {
    .main-contents { /* 텍스트 */
    position: absolute; left: 50%; top:20%; width: 48%; 
    display: flex; flex-direction: column; justify-content: space-between;
    color: #fff;text-shadow: 1px 1px 1px #333; text-align: center;
    transform: translateX(-50%);
    }
    .main-contents h3 {font-size: 70px; height: 70px; line-height:70px; color: #d9cc8f; }
    .main-contents span { color: #fbf4d1;}
    .main-contents p{font-family: "playfair display"; font-weight: bold; font-size: 16px;line-height: 20px; color: #d9cc8f; }
    .main-contents p span { color: #fbf4d1;}
    p.p1 {margin-top: 10px;}
    p.p2 {margin-top: 12px;}
    p.p3 {margin-top: 0px;}
    p.p4 { margin-top: -5px;}
   
    
}






/* HD버전 */
@media screen and (min-width:1000px) and (max-width:1399px){
    .main-contents { /* 텍스트 */
        position: absolute; left: 50%; top: 20%; width: 48%;
        display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; 
        color: #fff;text-shadow: 1px 1px 1px #333; text-align: center;
        transform: translateX(-50%);
    }
    .main-contents h3 { font-size: 60px; line-height: 60px; color: #d9cc8f; }
    .main-contents span { color: #fbf4d1;}
    .main-contents p{font-family: "playfair display"; font-weight: bold; font-size: 16px;  color: #d9cc8f; line-height: 16px; }
    .main-contents p span { color: #fbf4d1;}
    p.p1 {margin-top: 16px;}
    p.p2 {margin-top: 15px;}
    p.p3 {margin-bottom: 0px;}
    p.p4 { margin-top: 5px;}
    
}






/* 태블릿버전 */
@media screen and (min-width:760px) and (max-width:999px){ 
    .main-contents { /* 텍스트 */
        position: absolute; left: 50%; top: 20%; width: 50%;
        display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; 
        color: #fff;line-height: 85px; text-shadow: 1px 1px 1px #333; text-align: center;
        transform: translateX(-50%);
    }
    .main-contents h3 { font-size: 50px; line-height: 50px; color: #d9cc8f; }
    .main-contents span { color: #fbf4d1;}
    .main-contents p{line-height: 16px; font-family: "playfair display"; font-weight: bold; font-size: 16px;  color: #d9cc8f; }
    .main-contents p span { color: #fbf4d1;}
    p.p1 {line-height: 16px;}
    p.p2 {margin-top: 5px;}
    p.p3 {margin-bottom: 0px;}
    p.p4 { margin-top: 5px;}
    /* .flex-direction-nav a {display: none;} */
}






/* 스마트폰버전 */
@media screen and (max-width:759px){ /*모바일 영역*/
    .main-contents { /* 텍스트 */
        position: absolute; left: 50%; top: 15%; width:50%;
        display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; 
        color: #fff;text-shadow: 1px 1px 1px #333; text-align: center;
        transform: translateX(-50%);
    }
    .main-contents h3 {font-size: 44px; line-height: 44px; color: #d9cc8f; }
    .main-contents span { color: #fbf4d1;}
    .main-contents p{line-height: 16px; font-family: "playfair display"; font-weight: bold; font-size: 16px;  color: #d9cc8f; }
    .main-contents p span { color: #fbf4d1;}
    p.p1 {line-height: 16px;}
    p.p2 {margin-top: 5px;}
    p.p3 {margin-bottom: 0px;}
    p.p4 { margin-top: 5px;}

    /* .flex-direction-nav a {display: none;} */
}


/* =========== prev + next button =========== */
.flex-direction-nav a {width: 70px; height: 70px;}
.flex-direction-nav a:before{font-size: 0;}
.flex-direction-nav a i {font-size: 60px; color: #d9cc8f; text-shadow: 1px 1px 1px #fbf4d1;}


.flexslider {
    zoom: 1.24;
}

/* =========== control button =========== */
 .flex-control-nav{bottom: 20px;}
.flex-control-paging li a{background: #fbf4d1;}
.flex-control-paging li a:hover{background: #fbf4d1;}
.flex-control-paging li a.flex-active{width: 30px; background: #d9cc8f;} 




