@charset "utf-8";



@media screen and (min-width:1300px) {
    header{ 
        width: 100%;
    }

    header > nav > ul a{height: 35px;}
    header > nav > ul#hd-main-menu a:hover{ color: #d9cc8f; border-bottom: 3px solid #d9cc8f;}
    header > h3{ font-size: 90px; font-weight: bolder; color: #d9cc8f; text-align: center; line-height: 440px;}

    #trigger, .hd-customer-menu > li > a > i {display: none;}
    
    nav {
        position: relative;
        width: 1300px; margin: 0 auto;
        font-family: "playfair display"; font-weight: bold;
    }
    nav > a, #hd-main-menu, .hd-customer-menu{position: absolute;}
    nav > a{top:19px; }
    nav > a > h1{color: #d9cc8f; font-family: "Zoika font";}
    nav > a > h1 > span { color: #fbf4d1;}

    #hd-main-menu{
        left: 419px; top:25px;
        width: 487px;
        display: flex; justify-content: space-between; 
    } 
    
    .hd-customer-menu {
        right: 0; top: 24px;
        width: 100px; 
        text-transform: uppercase;
        display: flex; justify-content: space-between;
    }

    .hd-bn-bg {
        width: 100%; height: 100%;
        background: url('../imgs/fhd-support-banner-bg.jpg') no-repeat center center; background-size: cover;
    }

    .hd-bn-bg > h3{
       color: #d9cc8f; font-size: 90px; line-height: 500px; text-align: center;
    }


    footer{
       position: relative;
        padding: 50px 0;
        color: #fff;
        background: #262626;
    }
    footer > a{width: 1300px; margin: 0 auto;padding: 0 20px;}
    footer > a > h1{
        color: #d9cc8f; font-family: "Zoika font"; text-align: left;
    }
    footer > a > h1 > span { color: #fbf4d1;}

    footer > .ft-wrap{ 
        width: 1300px; margin: 20px auto;  padding: 0 20px;
        display: flex; justify-content: space-between;
    }
    footer .ft-sns{ 
        width: 140px;
        display: flex; justify-content: space-between;
        font-size: 20px;
    }
}


@media screen and (min-width:1050px) and (max-width:1299px){
    header{ width: 100%; height: 500px;}
    
    #hd-main-menu, .hd-custom-menu > li > a > span {display: none;}
    
    nav {
        position: relative; 
        width: 1200px; margin: 0 auto; 
        font-family: "playfair display"; font-weight: bold;
    }
    nav > a, #hd-main-menu, .hd-custom-menu{position: absolute;}
    nav > a {top:17px;}
    nav > a > h1 { 
        position: absolute; left: 460px; 
        color: #d9cc8f; font-family: "Zoika font"; font-size: 34px;
    }
    nav > a > h1 > span { color: #fbf4d1;}
 
    
    .hd-custom-menu {
        right: 0; top: 10px;
        width: 80px;
        display: flex; justify-content: space-between;
    }
    #trigger  { font-size: 40px; top: 10px;}
    .hd-custom-menu > li:nth-child(1) > a > i{ font-size:36px ;}
    .hd-custom-menu > li:nth-child(2) > a > i{ font-size:33px ;}
    .hd-bn-bg {
        width: 100%; height: 100%;
        background: url('../imgs/fhd-support-banner-bg.jpg') no-repeat center center; background-size: cover;
    }

    .hd-bn-bg > h3{
       color: #d9cc8f; font-size: 70px; line-height: 500px; text-align: center;
    }


    footer{
       position: relative;
        padding: 50px 0;
        color: #fff;
        background: #262626;
    }
    footer > a{width: 1200px; margin: 0 auto;padding: 0 20px;}
    footer > a > h1{
        color: #d9cc8f; font-family: "Zoika font"; text-align: left;
    }
    footer > a > h1 > span { color: #fbf4d1;}

    footer > .ft-wrap{ 
        width: 1200px; margin: 20px auto;  padding: 0 20px;
        display: flex; justify-content: space-between;
    }
    footer .ft-sns{ 
        width: 100px;
        display: flex; justify-content: space-between;
        font-size: 20px;
    }
}





@media screen and (min-width:720px) and (max-width:1049px){
    header{ width: 100%; height: 510px;}
    
    #hd-main-menu, .hd-custom-menu > li > a > span {display: none;}
    
    nav {
        position: relative; 
        width: 768px; margin: 0 auto;
        font-family: "playfair display"; font-weight: bold;
    }
    nav > a, #hd-main-menu, .hd-custom-menu{position: absolute;}
    nav > a{top:17px; }
    nav > a > h1{
        width: 100%; position: absolute; left: 330px; 
        font-size: 34px; color: #d9cc8f; font-family: "Zoika font";text-decoration: none;
    }
    nav > a > h1 > span { color: #fbf4d1;}

        
    .hd-custom-menu {
        right: 0; top: 15px;
        width: 70px; 
        display: flex; justify-content: space-between;
    }
    #trigger i{font-size: 33px;}
    .hd-custom-menu > li:nth-child(1) > a > i{ font-size:32px ;}
    .hd-custom-menu > li:nth-child(2) > a > i{ font-size:28px ;}
    .hd-bn-bg {
        width: 100%; height: 100%;
        background: url('../imgs/tb-support-banner-bg.jpg') no-repeat center center; background-size: cover;
    }

    .hd-bn-bg > h3{
       color: #d9cc8f; font-size: 60px; line-height: 500px; text-align: center;
    }


    footer{
       position: relative;
        padding: 50px 0;
        color: #fff;
        background: #262626;
    }
    footer > a{width:768px; margin: 0 auto;padding: 0 20px;}
    footer > a > h1{
        color: #d9cc8f; font-family: "Zoika font"; text-align: left;
    }
    footer > a > h1 > span { color: #fbf4d1;}

    footer > .ft-wrap{ 
        width: 768px; margin: 20px auto;  padding: 0 20px;
        display: flex; justify-content: space-between; flex-wrap: wrap;
    }
    footer .ft-sns{ 
        width: 80px;
        display: flex; justify-content: space-between;
        font-size: 20px; 
    }
}



@media screen and (max-width:719px){
    header{ width: 100%; height: 510px;}
    
    #hd-main-menu, .hd-custom-menu > li > a > span {display: none;}
    
    nav {
        position: relative; 
        width: 768px; margin: 0 auto;
        font-family: "playfair display"; font-weight: bold;
    }
    nav > a, #hd-main-menu, .hd-custom-menu{position: absolute;}
    nav > a{top:17px; }
    nav > a > h1{
        width: 100%; position: absolute; left: 330px; 
        font-size: 34px; color: #d9cc8f; font-family: "Zoika font";text-decoration: none;
    }
    nav > a > h1 > span { color: #fbf4d1;}

        
    .hd-custom-menu {
        right: 0; top: 15px;
        width: 60px; 
        display: flex; justify-content: space-between;
    }
    #trigger i{font-size: 33px;}
    .hd-custom-menu > li:nth-child(1) > a > i{ font-size:30px ;}
    .hd-custom-menu > li:nth-child(2) > a > i{ font-size:26px ;}
    .hd-bn-bg {
        width: 100%; height: 100%;
        background: url('../imgs/tb-support-banner-bg.jpg') no-repeat center center; background-size: cover;
    }

    .hd-bn-bg > h3{
       color: #d9cc8f; font-size: 60px; line-height: 500px; text-align: center;
    }


    footer{
       position: relative;
        padding: 50px 0;
        color: #fff;
        background: #262626;
    }
    footer > a{width:768px; margin: 0 auto;padding: 0 20px;}
    footer > a > h1{
        color: #d9cc8f; font-family: "Zoika font"; text-align: left;
    }
    footer > a > h1 > span { color: #fbf4d1;}

    footer > .ft-wrap{ 
        width: 768px; margin: 20px auto;  padding: 0 20px;
        display: flex; justify-content: space-between; flex-wrap: wrap;
    }
    footer .ft-sns{ 
        width: 80px;
        display: flex; justify-content: space-between;
        font-size: 20px; 
    }

}