@charset "utf-8";

header{z-index: 9;}
footer{display: none;}
.sp-btn{
    width: 200px; height: 120px; 
    border:3px solid #d9cc8f; border-radius: 60px; 
    color: #d9cc8f; text-align: center; padding-top: 45px; 
    font-family: "Playfair Display";font-weight: bold
}



/* ===========  box button =========== */
.boxes{position: relative;}
#box-button{
    position: absolute; left: 50%; bottom: 180px;
    width: 1050px; height: 120px; 
    display: flex; justify-content: space-between;
    transform: translateX(-50%);
}
#box-button > .main-btn{
    width: 200px; height: 120px; 
    border: 3px solid #d9cc8f; border-radius: 60px; 
    font-size: 16px; color: #d9cc8f; text-align: center; line-height: 110px;
    font-family: "playfair display"; font-weight: bold;
}


