@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 
/* 스크롤바 꾸미기 */
body{ 
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 12px;
    display: block;
}

::-webkit-scrollbar-track{
    background: rgba(217, 204, 143, 0.5); border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(7, 3, 35, 0.3); border-radius: 10px; 
}
::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-thumb:hover{
    background: #930c71;
}






.bg{width: 100vw; height: 100%;}

.login-bg{ 
    background: url('../imgs/11.jpg') no-repeat center center; background-size: cover; 
}

.ac-1-bg{
    background: url('../imgs/10.jpg') no-repeat center center; background-size: cover;
}
/* .ac-2-bg{
    background: url('../imgs/ac-2-bg.jpg') no-repeat center center; background-size: cover;
}
.ac-3-bg{
    background: url('../imgs/ac-3-bg.jpg') no-repeat center center; background-size: cover;
} */
.info-bg {
    background: url('../imgs/9.jpg') no-repeat center center; background-size: cover;
}
.com-bg{
    background: url('../imgs/12.jpg') no-repeat center center; background-size: cover;
}

.cul-bg{
    background: url('../imgs/6.jpg') no-repeat center center; background-size: cover;
}
header {position:absolute;  top:0; left:0; width: 100%; height: 110px;  z-index: 2;}

.head-private{
    width: 100%; height: 60px; padding: 0 200px; 
    display: flex; justify-content: space-between; align-items: center;
}
.head-private h1{ 
   font-size: 32px; text-shadow: 1px 1px 1px #070323; line-height: 60px;
}

.container > header a > span{color: #930c71;}

.dot{color: #d9cc8f;}

.head-private a{ color: #d9cc8f;}

header > .head-private > .private-menu{ 
    position: absolute; top: 0; right: 200px;
    width: 17%; height: 100%;
    font-size: 16px;
    display: flex; justify-content: space-between;
}
.private-menu li{
    width: 100%; height: 100%; text-align: center;
}
.private-menu li a{
    width: 100%; height: 100%; line-height: 60px;
    color: #d9cc8f; text-shadow: 1px 1px 1px #070323;
}
header > nav{
    position: relative;
    width: 100%; height: 40px; 
}

header > nav > .main-menu {
    position: absolute; left: 25%; top: 0;
    display: flex; justify-content: space-between; align-items: center;
    width:910px; height: 100%;
}
header > nav > .main-menu li{
    position: relative;
    width: 100%; height: 100%;
    text-align: center; font-size: 20px; line-height: 40px;

}
header > nav > .main-menu > li > a{
    color: #070323; text-shadow: 1px 1px 1px #d9cc8f;
}

header > nav > .main-menu > li:nth-child(1) > a > i{
font-size: 22px; font-weight: bold;
}
header > nav > .main-menu .itag i:nth-child(1){
    font-size: 22px; font-weight: bold;
}
header > nav > .main-menu .itag i:nth-child(2){
    display: none;
}

header > nav > .main-menu li:hover .sub-menu{
    display: block;
}
/* =========== sub-menu ========== */

.sub-menu{
   display: none;
}

.sub-menu > li {
 position: absolute; width:100%; height: 40px; 
}
.main-menu > li > ul > li > a{ width: 100%; height: 100%; font-size: 16px; }
.main-menu > li > ul > li > a:hover{color:#930c71;}
.bg-color{
    position:absolute; left:270px; top: 40px; 
    width: calc(176px * 4); height: 140px; font-size: 16px;
    border-radius: 0 0 5px 5px ;
}

.menu-bg{
    display: none;
}


main{
   height: 87vh;
}
main section { width: 100vw; height: 100vh;}
main article { 
   position: relative;
   width: 100%; height: 100%;
}




main article form{
    width: 450px; margin: 0 auto; 
    position: absolute; top: 50%; left: 50%; width: 25%;
    background: rgba(255, 255, 255, 0.3); border-radius: 20px;
    transform: translate(-50%, -50%);
}
main article .login-box{
    height: 45%; display: none;
}

main article .join-box{
    height: 60%; display: none;
}

main article h3{
    margin-top: 30px;
    font-family: 'SUIT-Regular', serif; font-weight: 100; text-shadow: 1px 1px 1px #fff; 
    font-size: 30px; text-align: center; background: #d9cc8f;
}
input{
    width: 80%; height: 50px; margin: 0 auto; padding:5px 20px;
    background: rgba(255, 255, 255, 0.7); border-radius: 15px; color: #070323;
}
label{
    height: 35px; line-height: 45px; padding: 0 50px;
    font-size: 15px; text-shadow: 1px 1px 1px #d9cc8f;
}
button.btn{
    width: 80%; height: 50px; margin:30px auto;
    background: #d9cc8f; border-radius: 15px; 
    color: #070323; text-shadow: 1px 1px 1px #d9cc8f;
    transition: all 0.5s ease-in;
}
button:hover{
    background: #070323; color: #d9cc8f;text-shadow: 1px 1px 1px #070323;
}


footer{
    position:absolute; top: 95vh;
    width: 100%; height: 50px; padding: 0 100px; line-height: 50px;  
    background: rgba(0, 0, 0, 0.2);
}
footer .footer-info{ 
    width: 1200px; height: 100%;
    text-align: left; font-size: 20px; color: #d9cc8f; text-shadow: 1px 1px 1px #070323;
}

button.top-btn{
    position: fixed; right: 30px; bottom: 50px;
    display: none;
    width: 50px;height: 50px; 
    background: #d9cc8f; border-radius: 50%; box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    color: #930c71; text-shadow: 1px 1px 1px #070323; cursor: pointer; text-shadow: 1px 1px 1px #070323;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

.background{
    background: rgb(217, 204, 143); 
}