@charset "utf-8";


@font-face {
    font-family:"Zoika font";
    src:url('../fonts/Zoika.eot');
	src:url("../fonts/Zoika.woff") format("woff");
}
/* font-family:"Zoika font", serif;  로고서체 */

@font-face {
    font-family:"SUIT-Bold";
    src: url('../fonts/SUIT-Bold.eot');
	src: url('../fonts/SUIT-Bold.woff') format("woff");
}
/* font-family:"SUIT-Bold", sans-serif;  서브 타이틀 한글 서체(고딕) */

@font-face {
    font-family:"SUIT-Regular";
    src: url('../fonts/SUIT-Regular.eot');
    src: url('../fonts/SUIT-Regular.woff') format("woff");
}
/* font-family:"SUIT-Regular", sans-serif;  본문서체(고딕) */



* {margin:0; padding:0; box-sizing:border-box;}
/*브라우저에는 '내장 스타일시트'가 있다. 내장 스타일시트에 박스에 대한 여백이 설정되어있다. 따라서 박스의 여백을 초기화시킨다.*/
/*box-sizing:border-box; 박스의 너비값과 높이값에 안쪽 여백 값과 테두리 값을 포함시킨다.*/
body {
    font-family:"SUIT-Regular", sans-serif; font-size:16px; color:#333;
    background:#fff; overflow-x:hidden;
}
h1 {font-family:"Zoika font", serif;}
h2, h3 {font-family: "Playfair Display", serif;}
h3 span {color: #930c71;}
h4, h5, h6 {font-family:"SUIT-Bold", sans-serif;}
ul li {list-style:none;}
a {display:inline-block; text-decoration:none;color: #f6f6f6;}

.flex {display:flex;}
.flex-center {display:flex; justify-content:center; align-items:center;}
.flex-between {display:flex; justify-content:space-between; align-items:center;}

.btn {padding:12px 25px; background:#070323; border-radius:25px; text-align:center;}
